<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Dashboard - CityZen</title>


  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


</head>

<body>
  <div class="grid-container">

    <!-- Header -->
    <header class="header">
      <div class="menu-icon">
        <i id="bar" class="fa-solid fa-bars fa-xl"></i>
      </div>
      <div class="header-right">
        <p>Hello , {{username}} !</p>
        <i id="accountBtn" class="fa-solid fa-user fa-xl"></i>
        <a href="{{ url_for('message') }}"><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
    </header>

    <!-- Account Panel -->
    <div id="accountPanel" class="account-panel ">
      <div class="slide-content">
        <div class="profile-section">
          <img class="profile-img" src="{{ url_for('static', filename='images/images.jpg') }}" />
          <div class="userdetail">
            <h2 class="profile-name">{{ username }}</h2>
            <p class="profile-email">{{ email }}</p>
          </div>
        </div>
        <hr class="divider" />
        <div class="section">
          <form action="{{ url_for('logout') }}" method="post">
            <button type="submit" class="logout">

              <span class="left"><i class="fa-solid fa-right-from-bracket icon"></i> Log Out</span>
            </button>
          </form>
        </div>
      </div>
    </div>



    <!-- Sidebar -->
    <aside id="sidebar">
      <div class="sidebar-title">
        <div class="sidebar-brand">
          <img src="{{ url_for('static', filename='images/logo-gold.png') }}" />
        </div>
      </div>

      <ul class="sidebar-list">
        <li class="sidebar-list-item">
          <a href="{{ url_for('dashboard') }}"><i class="fa-solid fa-table-columns"></i> Dashboard</a>
        </li>
        <li class="sidebar-list-item">
          <a href="{{ url_for('hotissue') }}"><i class="fa-solid fa-list-ol fa-l"></i> Hot Issues</a>
        </li>
        <li class="sidebar-list-item">
          <a href="{{ url_for('reportform') }}"><i class="fa-solid fa-box-tissue"></i> Report An Issue</a>
        </li>
        <li class="sidebar-list-item">
          <a href="{{ url_for('trackissue') }}"><i class="fa-solid fa-thumbtack"></i> Track Issue</a>
        </li>
        <li class="sidebar-list-item">
          <a href="{{ url_for('help_page') }}"><i class="fa-solid fa-handshake-angle"></i> Help</a>
        </li>
        <li class="sidebar-list-item">
          <a href="{{ url_for('aboutus') }}"><i class="fa-solid fa-inbox"></i> Aboutus</a>
        </li>
      </ul>
    </aside>

    <!-- Main -->
    <main class="main-container">
      <div class="main-title">
        <h2>DASHBOARD</h2>
      </div>


      <div class="main-cards ">

        <div class="card">
          <div class="card-inner">
            <h2>ISSUES REPORTED</h2>
            <i class="fa-solid fa-message fa-2x"></i>
          </div>
          <h1 id="c1">10000+</h1>
        </div>

        <div class="card">
          <div class="card-inner">
            <h2>ISSUES SOLVED</h2>
            <i class="fa-solid fa-clipboard-check fa-2x"></i>
          </div>
          <h1 id="c2">8700+</h1>
        </div>

        <div class="card">
          <div class="card-inner">
            <h2>SATISFIED USERS</h2>
            <i class="fa-solid fa-face-smile fa-2x"></i>
          </div>
          <h1 id="c3">7000+</h1>
        </div>

        <div class="card">
          <div class="card-inner">
            <h2>COVERED CITIES</h2>
            <i class="fa-solid fa-location-dot fa-2x"></i>
          </div>
          <h1 id="c4">2500+</h1>
        </div>
      </div>

      <div class="products">
        <div class="product-card">
          <div class="product-card-inner">
            <h2 class="product-description">Word of Appreciation</h2>
            <p class="text-secondary">"CityZen has made complaint management seamless and effective..."</p>
            <p>~Dr.Ashok Suthar</p>
          </div>
        </div>

        <div class="social-media">
          <div class="product">
            <div class="pro-card">
              <div class="product-icon"><i class="fa-solid fa-fire"></i></div>
              <h2>Fast & Efficient</h2>
              <p class="text-secondary">CityZen resolves issues quicker than ever—saving time and boosting satisfaction.
              </p>
            </div>
            <div class="pro-card">
              <div class="product-icon"><i class="fa-solid fa-fire"></i></div>
              <h2>Precise Complaint Tracking</h2>
              <p class="text-secondary">Each complaint is tracked with accuracy...</p>
            </div>
            <div class="pro-card">
              <div class="product-icon"><i class="fa-solid fa-fire"></i></div>
              <h2>Simple Yet Powerful Interface</h2>
              <p class="text-secondary">Designed for everyone—clean, intuitive, and effective from first click.</p>
            </div>
            <div class="pro-card">
              <div class="product-icon"><i class="fa-solid fa-fire"></i></div>
              <h2>Building Trust Through Action</h2>
              <p class="text-secondary">CityZen doesn’t just collect complaints—it gets things done...</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>


  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const ids = ["c1", "c2", "c3", "c4"];
      ids.forEach(id => {
        const element = document.querySelector(`#${id}`);
        const targetText = element.innerText;
        const target = parseInt(targetText.replace(/\D/g, ""));
        element.innerText = "0+";
        let totalSteps = 2000 / (2000 / 60);
        let increment = Math.ceil(target / totalSteps);
        let count = 0;
        const interval = setInterval(() => {
          count += increment;
          if (count >= target) {
            element.innerText = target + "+";
            clearInterval(interval);
          } else {
            element.innerText = count + "+";
          }
        }, 2000 / 60);
      });
    });

    const bar = document.getElementById('bar');
    const sidebar = document.getElementById('sidebar');
    bar.addEventListener('click', () => {
      sidebar.classList.toggle('active');
      bar.classList.toggle('active1');
    });

    const accountBtn = document.getElementById("accountBtn");
    const accountPanel = document.getElementById("accountPanel");
    let isPanelOpen = false;
    accountBtn.addEventListener("click", () => {
      if (!isPanelOpen) {
        accountPanel.classList.add("show");
      } else {
        accountPanel.classList.remove("show");
      }
      isPanelOpen = !isPanelOpen;
    });
  </script>
</body>

</html>