<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You - CityZen</title>

   
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="relative min-h-screen overflow-hidden bg-gray-200">

    
    <div class="fixed inset-0 -z-10 pointer-events-none">
        <iframe src="https://lottie.host/embed/1a9dd7b9-b818-48b1-84d6-cf04b6bde525/BdM07xCS6M.lottie"
            class="w-full h-full border-none"></iframe>
    </div>

    
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white/80 backdrop-blur-md px-10 py-8 rounded-xl text-center shadow-lg">
            <h2 class="text-2xl font-bold text-green-600 mb-4"><i
                    class="fa-regular fa-circle-check text-2xl font-bold text-green-600 mr-5"></i>Thank you for
                reporting the issue!</h2>
            <a href="/dashboard"
                class="inline-block mt-2 bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-6 rounded-lg transition">
                Go back to Dashboard
            </a>
        </div>
    </div>

    
    <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.6.2/dist/dotlottie-wc.js" type="module"></script>
</body>

</html>